# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html


#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
[mysqld]
port = 3306
datadir=/data/mysql
socket=/data/mysql/mysql.sock
pid-file=/data/mysql/mysql.pid

# Disabling symbolic-links is recommended to prevent assorted security risks
#symbolic-links=0

log-error=error.log
log_timestamps = SYSTEM
log_error_verbosity = 2
slow_query_log = ON
slow_query_log_file = slow.log
long_query_time = 1

log-bin = bin
log-bin-index = bin.index
log_bin_trust_function_creators = 1
binlog_format = ROW
max_binlog_size = 245M
relay-log = relay-bin
relay-log-index = relay-bin.index

innodb_data_home_dir = /data/mysql/
innodb_log_group_home_dir = /data/mysql/
innodb_buffer_pool_size = 128M
innodb_log_file_size = 128M
innodb_flush_log_at_trx_commit = 2
innodb_file_per_table = 1
innodb_print_all_deadlocks = 1

lower_case_table_names = 1
default-storage-engine = INNODB
character_set_server = utf8mb4
sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
query_cache_type = 0
query_cache_size = 0
key_buffer_size = 16M
group_concat_max_len = 8000
max_connections = 500

server-id = 11
user=mysql
skip-name-resolve
skip-slave-start

